.banner {
    background: url() no-repeat center center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color: black;
    background: url(https://e1.pxfuel.com/desktop-wallpaper/748/809/desktop-wallpaper-black-wood.jpg);
    background-size: cover;
    padding-bottom: 20%;
    padding-top: 20%;
    color: floralwhite ;
}


.kontak{
    background: url(https://e1.pxfuel.com/desktop-wallpaper/748/809/desktop-wallpaper-black-wood.jpg);
    background-size: cover;
    padding-bottom: 20%;
    padding-top: 20%;
    color: floralwhite;
}